.page-container {
  position: relative;
  min-height: 100vh;
  background-color: white;
}

.rectangle {
  background-color: #2563EB;
  border-radius: 0 0 15% 15%;
  height: 75vh;
  position: relative;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}
