/******************************************************************************/
/********************************** NAVBAR ************************************/
/******************************************************************************/

.underline-from-center {
    position: relative;
  }
  
  .underline-from-center::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .underline-from-center:hover::before {
    width: 100%;
    left: 0;
  }
  